
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #ffbdbd;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffe7d3 ;
    text-align: center;
    padding: 20px;
    height: 400px ;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1{
    color: #333;
    margin-bottom: 20px;
}